{{ define "main" }}
<section class="gallery-container">
    {{ $allProjects := where site.Pages "Section" "projects" }}
    {{ $projects := where $allProjects "Title" "!=" "Projects" }}
    {{ $sorted := sort $projects "Params.importance" "desc" }}
    
    {{ range $sorted }}
    {{ $spanClass := "span-1" }}
    {{ if eq .Params.importance 2 }}{{ $spanClass = "span-2" }}{{ end }}
    {{ if eq .Params.importance 3 }}{{ $spanClass = "span-3" }}{{ end }}
    {{ if eq .Params.importance 4 }}{{ $spanClass = "span-4" }}{{ end }}
    {{ if eq .Params.importance 6 }}{{ $spanClass = "span-6" }}{{ end }}
    
    {{ $thumbFile := printf "%sthumb.jpg" .RelPermalink }}
    {{ $thumbPng := printf "%sthumb.png" .RelPermalink }}
    
    <a href="{{ .RelPermalink }}" class="project-card {{ $spanClass }}" data-importance="{{ .Params.importance }}">
        <div class="project-thumb">
            <img src="{{ $thumbFile }}" alt="{{ $.Title }}">
            <div class="project-overlay">
                <h3 class="project-title">{{ $.Title }}</h3>
            </div>
        </div>
    </a>
    {{ end }}
</section>
{{ end }}
